OPENAI_API_KEY=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
PIXABAY_API_KEY=55655473-719ddbe499800fdeb3e649e3c
